# Expo
.expo/
.expo-shared/

# React Native
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# Metro bundler cache
.metro-cache/

# Bundler output
.expo/web/cache/

# TypeScript cache
*.tsbuildinfo

# Logs
*.log

# Debug files
*.hprof

# macOS system files
.DS_Store

# JetBrains IDEs
.idea/

# VSCode settings folder
.vscode/

# npm debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo credentials
*.jks
*.keystore
*.p12
*.p8

# Other
.expo-private/
